.relative::before {
    --point-size: 5px;
    content: "";
    display: block;
    width: var(--point-size, 4px);
    height: var(--point-size, 4px);
    background-color: var(--point-color, red);
    position: absolute;
    transform: translate(calc(var(--point-size, 4px)/-2), calc(var(--point-size, 4px) / -2));
    border-radius: 50%;
}